@model HRMS.Models.Employee

<h2>Delete Employee</h2>

<h4>
    Are you sure you want to delete
    @Model.FirstName ?
</h4>

<form asp-action="Delete">

    <input type="hidden"
           asp-for="EmployeeId" />

    <button class="btn btn-danger">
        Delete
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancel
    </a>

</form>