@model HRMS.Models.Payroll

<h2>Delete Payroll</h2>

<h4>Are you sure?</h4>

<table class="table table-bordered">

    <tr>
        <th>Employee</th>
        <td>@Model.Employee?.FirstName</td>
    </tr>

    <tr>
        <th>Net Salary</th>
        <td>@Model.NetSalary</td>
    </tr>

</table>

<form asp-action="Delete">

    <input type="hidden"
           asp-for="PayrollId" />

    <button class="btn btn-danger">
        Delete
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancel
    </a>

</form>